{% extends "base.html" %}

{% block title %}About{% endblock title %}

{% block body %}

<section class="text-gray-400 bg-gray-900 body-font">
  <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
    <img class="lg:w-2/6 md:w-3/6 w-5/6 mb-10 object-cover object-center rounded" alt="hero" src="/static/stratifiai-high-resolution-logo.png">
    <div class="text-center lg:w-2/3 w-full">
      <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-success">StratifiAI</h1>
      <p class="leading-relaxed mb-8">At StratifiAI, we believe that the key to unlocking the full potential of data lies in understanding its layers. By leveraging advanced artificial intelligence, we provide businesses with innovative, data-driven solutions that transform raw information into actionable insights.</p><p>Our mission is to help organizations navigate the complexity of big data through intelligent stratification—dividing, organizing, and analyzing data at multiple levels for optimal clarity and efficiency. Whether you're in need of predictive analytics, automation, or decision support, StratifiAI is your trusted partner in driving intelligent transformation.</p>
      <div class="flex justify-center">
      </div>
    </div>
  </div>
</section>

<section class="text-gray-400 bg-gray-900 body-font -my-2">
    <div class="container px-5 py-24 mx-auto">
      <div class="xl:w-1/2 lg:w-3/4 w-full mx-auto text-center">
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="inline-block w-8 h-8 text-gray-500 mb-8" viewBox="0 0 975.036 975.036">
          <path d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z"></path>
        </svg>
        <p class="leading-relaxed text-lg">At <b class="text-success">StratifiAI</b>, we are committed to revolutionizing the AI industry with cutting-edge AI and data-driven insights. Our Insurance Premium Predictor is designed to bring transparency and accuracy to premium calculations, helping individuals and businesses make informed financial decisions.</p><p class="leading-relaxed text-lg">With a team of AI experts, data scientists, and insurance specialists, we leverage advanced machine learning algorithms to analyze key risk factors and deliver precise premium estimates in seconds. Our mission is to simplify insurance pricing, making it more accessible, fair, and easy to understand for everyone.</p>
        <span class="inline-block h-1 w-10 rounded bg-blue-500 mt-8 mb-6"></span>
        <h2 class="text-white font-medium title-font tracking-wider text-sm">ARYAN TOMAR</h2>
        <p class="text-gray-500">CEO</p>
      </div>
    </div>
</section>




{% endblock body %}
